/* --- General --- */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;

  color: #fff;

  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  counter-reset: my-sec-counter;
}

.header, .content, .footer {
  display: flex;
  align-items: center;
}

/* --- Header --- */
.header {
  justify-content: space-between;
  min-height: 100px;
  padding: 0 50px 0 50px;

  background-color: #985eff;
  
  font-family: Baskerville, "Baskerville Old Face";
  font-size: 2.5rem;
}

/* --- Content --- */
.content {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
  min-height: 500px;
  width: 100vw;
  padding: 50px 0 50px 0;
  
  background-color: #dbb1ff;
  color: #000;
}

/* --- Box --- */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;

  height: 300px;
  width: 26%;
  min-width: 400px;

  background-color: #fff;
}
.box::before {
  counter-increment: my-sec-counter;
  content: "" counter(my-sec-counter);
}
.box:first-child {
  margin-left: 0;
}
.box:last-child {
  margin-right: 0;
}
.box:not(:nth-last-child(-n+3)) {
  margin-bottom: 40px;
}
@media screen and (max-width: 800px) {
  .box:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .box:not(:nth-last-child(-n+2)) {
    margin-bottom: 40px;
  }
}

/* --- Footer --- */
.footer {
  justify-content: center;
  min-height: 120px;
  
  background-color: #bb86fc;
}
